@media screen and (max-width: 1300px) {
	.header__mnu {
		display: none;
	}

	.header__mnu-burger {
		display: block;
	}
}

@media screen and (max-width: 1200px) {
	.veterinarian__row {
		flex-direction: column;
	}

	.body {
		width: 100%;
		padding: 0;
	}

	.veterinarian__body-1 {
		margin: 0 0 100px 0;
	}

	.veterinarian__video-1 {}

	.veterinarian__body-2 {
		margin: 100px 0 0 0;
	}

	.categories__box-subtitle {
		text-align: justify;
	}

	.footer__massages {
		form{
			flex-direction: column;
			input {
				width: 100%;
				max-width: none;
			}

			button {
				width: 100%;
				max-width: none;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.mainblock__row {
		flex-direction: column;
	}

	.mainblock__img {
		order: 1;
		margin: 0 auto 50px auto;
		img {
			height: 40%;
		}
	}

	.mainblock__body {
		order: 2;
		width: 100%;
		max-width: none;
	}

	.categories__block-row {
		flex-direction: column;
		align-items: center;
	}
	.categories__box {
		width: 90%;
		margin: 0 0 100px 0;

		&:last-child {
			margin: 0;
		}
	}

	.purchases__block-row {
		flex-direction: column;
		align-items: center;
	}

	.purchases__box {
		width: 90%;
		margin: 0 0 100px 0;

		&:last-child {
			margin: 0;
		}
	}

	.vetcare-team__block-row {
		flex-direction: column;
		align-items: center;
	}

	.vetcare-team__box {
		margin: 0 0 100px 0;

		&:last-child {
			margin: 0;
		}
	}

	.achievements__box {
		flex: 0 1 10%;
	}

	.achievements__number {
		font-size: 23.7px;
	}

	.achievements__achievement {
		font-size: 18.5px;
	}

	.posts__block-row {
		flex-direction: column;
		align-items: center;
	}

	.posts__box {
		width: 90%;
		margin: 0 0 100px 0;

		&:last-child {
			margin: 0;
		}
	}

	.footer__row {
		flex-direction: column;	
	}

	.footer__about {
		margin: 0 0 10px 0;
		display: flex;
		&:after {
			margin: 0 0 0 75px;
			content: '';
			width: 30px;
	    height: 30px;
	    border-top: 10px solid white;
	    border-right: 10px solid white;
	    transform: rotate(135deg)
  	}

		ul {
			display: none;
		}
	}

	.footer__services {
		margin: 0 0 100px 0;
		display: flex;
		&:after {
			margin: 0 0 0 30px;
			content: '';
			width: 30px;
	    height: 30px;
	    border-top: 10px solid white;
	    border-right: 10px solid white;
	    transform: rotate(135deg)
  	}
		ul {
			display: none;
		}
	}

	.footer__massages {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.header__row {
		flex-direction: column;
	}

	.header__mnu-burger {
		margin: 30px 0;
	}

	.mainblock__title {
		font-size: 37.7px;
	}

	.subtitle {
		font-size: 21px;
	}

	.mainblock__btns {
		flex-direction: column;
	}

	.mainblock__btn {
		margin: 0 0 20px 0;

		&:last-child {
			margin: 0;
		}
	}

	.block-title {
		font-size: 50px;
	}

	.block-subtitle {
		text-align: justify;
	}
}

@media screen and (max-width: 500px) {
	.achievements__row {
		flex-direction: column;
	}

	.achievements__box {
		margin: 0 0 40px 0;
		&:last-child {
			margin: 0;
		}
	}

	.achievements__icon {
		margin: 0 0 10px 0;
	}

	.achievements__number {
		margin: 0 0 5px 0;
	}

	.footer__text {
		text-align: justify;	
	}
}


@media screen and (max-width: 425px) {
	.categories__box-title {
		font-size: 25.5px;
	}

	.categories__box-subtitle {
		font-size: 19px;
	}

	.body-title {
		font-size: 30px;
	}

	.subtitle {
		font-size: 17px;
	}

	.block-title {
		font-size: 40px;
	}

	.block-subtitle {
		font-size: 26.4px;
	}
}